@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@400;700&display=swap');

.title-text {
    color: #2c3333;
    font-family: 'Poppins', sans-serif;
}

.price {
    font-family: 'Montserrat', sans-serif;
}