@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&family=Montserrat:wght@400;900&family=Poppins&display=swap');

.section-title {
    font-family: 'Akshar', sans-serif;
    color: #3A3845;
}

.banner-description {
    color: #6c6b6b;
}

.colored-text {
    font-family: 'Montserrat', sans-serif;
    color: #be3852;
}

small {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.button {
    background-color: #be3852;
    border-color: #be3852;

}

.button:hover {
    background-color: #C74B50;
    border-color: #C74B50;
}